<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>CV Maker</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Resume/CV Template for Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="images/favicon.ico">  
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="./plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="./plugins/font-awesome/css/font-awesome.css">
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="./stylesheets/theme2.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]--> 
</head>
<body>
  <div class="wrapper">
    <!-- Introduction Part -->
    <div class="Intro">
      <div class="profile-container">
        <img class="profile" src="<%= out.header.avatar %>" style="max-height:150px;max-width:150px;" alt="" />
        <div class="text">
        <h1 class="name"><%= out.header.name %></h1>
        <h3 class="tagline"><%= out.header.job %></h3>
        <hr>

        <!-- contact -->
        <ul class="list-unstyled contact-list">
            <li class="email"><i class="fa fa-envelope"></i><a href="mailto: <%= out.header.email %>">Email</a></li>
            <li class="website"><i class="fa fa-globe"></i><a href="<%= out.header.icon.website %>" target="_blank">Website</a></li>
            <li class="linkedin"><i class="fa fa-linkedin"></i><a href="<%= out.header.icon.linkdin %>" target="_blank">LinkedIn</a></li>
            <li class="github"><i class="fa fa-github"></i><a href="<%= out.header.icon.github %>" target="_blank">Github</a></li>
            <li class="twitter"><i class="fa fa-twitter"></i><a href="<%= out.header.icon.twitter %>" target="_blank">Twitter</a></li>
        </ul>
        
        </div>
      </div>
    </div>


     
    <div class="main-wrapper">
      <!-- Eduaction -->
      <section class="Education">
        <div class="topic">
          <h3><strong>Education</strong></h3>
        </div>
        <div class="summary">
        <% for(var i=0;i<out.eduandcert.edu.length;i++){ %>
          <div class="item">
            <h4 class="degree"><a href="<%= out.eduandcert.edu[i].link %>" target="_blank"><%= out.eduandcert.edu[i].title %></a></h4>
            <strong><%= out.eduandcert.edu[i].name %></strong> <div class="education_date"><%= out.eduandcert.edu[i].date.start %> - <%= out.eduandcert.edu[i].date.end %></div>
          </div>
        <% } %>
        </div>
      </section>
      <!-- Education ends here -->
      <!-- About -->
      <section class="About">
        <div class="topic">
          <h3><strong> About Me </strong> </h3>
        </div>
        <div class="summary">
          <p><%= out.header.bio %></p>
        </div>
      </section>
    
    <!-- About Ends here -->

    <!-- Experience -->
    <section class="section experiences-section">
      <div class="topic">
        <h3><strong>Experience</strong></h3>
      </div>
      <% for(var i=0;i<out.experience.length;i++){ %>
        <% if(out.experience[i]){ %>
        <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h4 class="job-title"><%= out.experience[i].job %></h4>
              <div class="time"><%= out.experience[i].date.start %></div>
            </div>
            <div class="company"><%= out.experience[i].name %></div>
          </div>
        </div>
        <% } %>
        <% } %>
    </section>
    <!-- Experience ends here -->

    <!-- Projects -->
    <div class="section projects-section">
      <div class="topic">
        <h3><strong>Projects</strong></h3>
      </div>
      <div class="summary">
          <% for(var i=0;i<out.experience.length;i++){ %>
          <div  class="item">
          <span ><a href="<%= out.projects[i].link %>"><%= out.projects[i].name %></a></span> - <span><%= out.projects[i].desc %></span>
        </div>
          <% } %>
      </div>
    </div>
    <!-- Project ends here -->

    <!-- Skills -->
    <div class="section skill-section">
      <div class="topic">
        <h4><strong>Skills</strong></h4>
      </div>
      <div class="summary">
        <% for(var i=0;i<out.language.length;i++){ %>
          <div class="item">
            <span><strong><%= out.language[i].lang %></strong></span>-<span class="percentage"><%= out.language[i].perc %> %</span>
          </div>
          <% } %>
      </div>
    </div>
  </div>
  </div>
</body> 
